# ==============================
# Virtual Environment
# ==============================
venv/
.venv/

# ==============================
# Datasets & Training Outputs
# ==============================
dataset/
runs/
*.pt

# ==============================
# Python Cache
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Environment Files
# ==============================
.env

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db
