# ==============================
# Virtual Environment
# ==============================
venv/
.venv/

# ==============================
# Datasets & Training Outputs
# ==============================
dataset/
runs/
*.pt

# ==============================
# Python Cache
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Environment Files
# ==============================
.env

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Frontend/Dashboard
# ==============================
frontend/dashboard/uploads/
frontend/dashboard/*.db
frontend/dashboard/.streamlit/
frontend/TE PROJ/uploads/
frontend/TE PROJ/*.db
frontend/TE PROJ/__pycache__/
frontend/TE PROJ/instance/
frontend/TE PROJ/.pytest_cache/
frontend/TE PROJ/static/output/
frontend/TE PROJ/static/temp/
